@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,700');
$roboto: 'Roboto', sans-serif;
$gray: #B4B4B4;

* {
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
}
.container {
	width: 900px;
	margin: 0 auto;
	input {
		width: 850px;
		margin: 100px 0 20px;
		border: 1px solid #ccc;
		border-radius: 3px;
		color: $gray;
		font: 400 25px/30px $roboto;
		background: url('../../app/img/search-icon-md1.png') 10px no-repeat;
		padding: 5px 10px 5px 45px;
	}
	.items {
		width: 905px;
		&__item {
			margin: 0 40px 40px 0;
			display: inline-block;
			width: 270px;
			height: 300px;
			border: 1px solid #ccc;
			background: url('../../app/img/airpods.jpg') center no-repeat;
			position: relative;
			.view {
				display: block;
			}
			&-description {
				display: none;
				height: 100px;
				width: 100%;
				color: white;
				background: rgba(black, 0.5);	
				position: absolute;
				bottom: 0;
				h3 {
					font: 400 18px/33px $roboto;
				}
				h6 { @extend h3; }
				p { @extend h3; }
			}
			&-description > * {
				padding: 0 10px;
			}
		}
		&__item:first-child {
			background: url('../../app/img/iphone.jpg') center no-repeat;
		}
		&__item:nth-child(2) {
			background: url('../../app/img/mac.jpg') center no-repeat;
		}
		&__item:nth-child(3) {
			background: url('../../app/img/imac.jpg') center no-repeat;
		}
		&__item:nth-child(5) {
			background: url('../../app/img/earpods.jpg') center no-repeat;
		}
		&__item:nth-child(3n) {
			margin-right: 0;
		}
	}
	
}

